.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(180deg, #def628 2.09%, #3f4309 16.7%);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    width: 150vh;
  }
  
  .spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  